{% load static %}

<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Index</title>
        <link rel="stylesheet" href= "{% static 'style.css' %}" media="screen">
    </head>
    <body>
        <main>
            <div>
                <p class="hello">Hello!</p>
                <p class="intro">What we do:</p>
                <p class="blah">Something very interesting. You don't find any indivisual thing interesting, but as a whole it is interesting. Whole is greater than the sum of its parts. For example, a story of Disney princess.</p>
                <figure class="mockingjay">
                    <img src="{% static 'mockingjay.jpg' %}" alt="">
                </figure>
            </div>
        </main>
    </body>
</html>




<!-- <figure class="first">
                    <img src="the-dark-knight-1.jpg" alt="">
                </figure>
                <figure class="arrow">
                    <img src="arrow.png" alt="">
                </figure>
                <figure class="second">
                    <img src="the-dark-knight-2.jpg" alt="">
                </figure>
                <figure class="arrow">
                    <img src="arrow.png" alt="">
                </figure>
                <figure class="third">
                    <img src="the-dark-knight-3.jpg" alt="">
                </figure>
                <figure class="arrow">
                    <img src="arrow.png" alt="">
                </figure>
                <figure class="fourth">
                    <img src="the-dark-knight-4.jpg" alt="">
                </figure>
                <figure class="arrow">
                    <img src="arrow.png" alt="">
                </figure>
                <figure class="fifth">
                    <img src="the-dark-knight-5.jpeg" alt="">
                </figure>
                <figure class="arrow">
                    <img src="arrow.png" alt="">
                </figure>
                <figure class="sixth">
                    <img src="the-dark-knight-6.jpg" alt="">
                </figure>
                <figure class="why-so-serious?">
                    <img src="why-so-serious.jpg" alt="">
                </figure> -->